:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-fon-color: #2f303a;
  --secondary-fon-color: #f5f4fa;
  --adress-text-color: rgb(255, 255, 255, 0.6);
  --white: #ffffff;
}

body {
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}

/* Header */

.header {
  background-color: var(--white);
}
.adress {
  font-weight: 500;
}
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-first {
  color: var(--accent-color);
}
.logo-second {
  color: var(--title-text-color);
}

.studio {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.adress {
  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
}
.adress:hover,
.adress:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--primary-fon-color);
}
.hero-title {
  color: var(--white);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}
.hero-button {
  color: var(--white);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

/* Section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Features */

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
}

/* Employee */
.employee {
  background-color: var(--secondary-fon-color);
}
.employee-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.employee-position {
  font-size: 16px;
  line-height: 1.2;
}

/* footer */

.footer {
  background-color: var(--primary-fon-color);
}
.footer-logo-first {
  color: var(--accent-color);
}
.footer-logo-second {
  color: var(--white);
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adress-gps {
  color: var(--white);
}
.adress-mail {
  color: var(--adress-text-color);
  text-decoration: none;
}
.adress-tel {
  color: var(--adress-text-color);
  text-decoration: none;
}

/* Portfolio filter */

.button-filter {
  color: var(--title-text-color);
  background-color: var(--secondary-fon-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

/* Portfolio */

.portfolio-button {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.portfolio-link {
  color: var(--primary-text-color);
  text-decoration: none;
}
.portfolio-examples-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.06em;
}
.portfolio-examples-text {
  font-size: 16px;
  line-height: 1.6;
}
